body{    
    background-image: url('./assets/books-background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    font-family: "Poppins", sans-serif;
}